In [1]:
from sklearn.model_selection import StratifiedKFold
import pandas as pd
ds = pd.read_excel('ml_project1_data.xlsx')
#print(ds["ID"])
ds.set_index('ID', inplace=True)
y = ds["Response"]
X = ds.drop(columns=["Response"])
skf = StratifiedKFold(n_splits=3, shuffle=True)
print(skf)
skf.get_n_splits(X, y)
for train_index, test_index in skf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

StratifiedKFold(n_splits=3, random_state=None, shuffle=True)
TRAIN: [   1    2    4 ... 2236 2237 2239] TEST: [   0    3    5    7    9   10   12   15   18   19   20   21   23   26
   28   29   30   31   32   33   40   46   50   54   55   56   59   63
   64   68   71   72   76   78   80   83   86   88   90   91   93   95
  100  103  104  105  106  109  110  117  119  121  123  140  141  143
  145  146  147  148  149  151  153  154  157  158  159  162  163  167
  169  178  179  180  186  188  203  205  207  208  211  213  214  218
  220  221  226  227  231  233  236  238  239  242  246  248  251  263
  266  267  273  277  284  286  288  289  290  291  294  301  306  309
  310  311  314  316  317  321  323  325  327  332  335  337  342  343
  345  346  349  356  365  369  373  391  397  398  399  400  404  408
  411  412  418  421  422  426  430  434  436  439  444  446  447  453
  456  459  461  463  465  468  470  472  473  475  483  484  486  488
  492  496  500  501  502  503  507  509  510  519  520  530  531  532
  533  535  537  538  542  546  547  553  556  557  558  562  563  570
  571  573  578  580  583  584  585  587  592  595  596  597  610  611
  615  617  620  622  623  627  628  629  630  632  633  634  635  637
  638  640  645  648  656  660  663  666  669  670  671  672  675  681
  682  683  684  693  696  697  698  706  710  711  713  717  721  722
  734  735  739  743  744  748  750  755  758  762  763  764  772  774
  778  779  781  782  783  786  788  789  790  792  794  797  802  806
  807  808  809  813  819  821  822  823  825  829  832  833  835  841
  843  857  858  860  861  863  864  865  866  868  869  877  879  883
  885  886  893  899  904  905  906  911  912  913  918  919  920  924
  929  930  935  937  938  940  946  947  951  952  953  955  958  960
  962  966  971  974  976  979  983  987  991  994  997 1000 1007 1008
 1010 1011 1014 1016 1017 1018 1020 1023 1025 1027 1031 1032 1034 1041
 1045 1047 1050 1051 1058 1059 1060 1063 1068 1069 1070 1073 1074 1077
 1078 1079 1083 1084 1085 1086 1088 1089 1091 1092 1098 1101 1102 1107
 1113 1117 1120 1122 1135 1136 1139 1142 1145 1151 1153 1154 1160 1166
 1169 1170 1180 1185 1191 1193 1194 1195 1196 1197 1203 1208 1209 1210
 1211 1218 1219 1222 1223 1227 1228 1230 1233 1239 1240 1245 1261 1273
 1275 1287 1290 1291 1297 1299 1302 1303 1304 1305 1310 1314 1315 1316
 1317 1325 1327 1329 1330 1338 1339 1341 1342 1344 1346 1348 1350 1351
 1353 1354 1355 1361 1362 1363 1365 1368 1372 1375 1376 1381 1384 1387
 1389 1391 1393 1394 1396 1400 1401 1404 1406 1410 1413 1417 1421 1428
 1432 1433 1437 1439 1445 1446 1449 1451 1452 1456 1458 1460 1464 1468
 1469 1474 1476 1478 1479 1481 1482 1487 1491 1493 1503 1505 1507 1508
 1509 1510 1513 1515 1518 1519 1524 1525 1532 1533 1536 1537 1539 1544
 1546 1555 1557 1559 1560 1561 1562 1564 1570 1571 1573 1576 1578 1579
 1580 1582 1591 1595 1607 1608 1609 1610 1613 1614 1618 1620 1622 1626
 1627 1629 1630 1631 1632 1633 1634 1635 1637 1639 1642 1646 1647 1648
 1653 1656 1658 1667 1671 1675 1677 1681 1682 1684 1687 1690 1691 1694
 1704 1705 1709 1712 1713 1724 1725 1728 1734 1735 1736 1737 1740 1742
 1744 1751 1755 1768 1774 1777 1779 1780 1785 1788 1793 1794 1795 1798
 1800 1803 1805 1811 1812 1823 1826 1827 1829 1833 1842 1851 1855 1863
 1866 1867 1871 1878 1879 1880 1881 1886 1891 1895 1900 1903 1905 1907
 1910 1915 1919 1922 1929 1933 1937 1938 1939 1940 1942 1946 1948 1949
 1952 1954 1959 1962 1963 1966 1968 1975 1976 1984 1990 1991 1995 1996
 2009 2011 2013 2014 2015 2021 2025 2028 2030 2031 2033 2035 2036 2038
 2039 2041 2044 2046 2050 2051 2052 2053 2054 2055 2058 2064 2069 2071
 2074 2085 2086 2091 2094 2095 2097 2099 2104 2105 2108 2109 2110 2112
 2114 2115 2123 2124 2125 2126 2135 2137 2138 2146 2147 2154 2156 2158
 2159 2161 2183 2184 2185 2199 2201 2202 2204 2205 2206 2209 2210 2212
 2213 2214 2216 2221 2225 2238]
TRAIN: [   0    1    3 ... 2237 2238 2239] TEST: [   2    4    6   14   27   34   35   38   39   41   42   44   45   47
   51   52   57   58   61   62   66   69   74   79   82   84   87   97
   98  113  114  115  118  120  125  129  131  132  134  135  138  142
  144  150  155  160  161  164  165  166  168  171  173  174  175  176
  181  182  183  185  187  193  195  197  201  204  209  212  219  224
  230  234  244  252  253  256  257  258  262  264  268  271  275  276
  280  282  293  295  298  299  302  303  304  305  307  308  319  322
  324  326  329  330  331  336  338  347  348  351  353  354  355  359
  360  361  364  366  368  370  371  372  375  377  378  379  380  381
  382  386  388  392  394  396  401  402  403  405  406  414  415  420
  423  424  425  429  431  432  435  437  441  442  443  448  450  451
  457  462  467  469  471  476  478  480  481  485  487  489  491  493
  494  498  504  505  506  511  513  515  517  518  522  523  526  529
  534  539  545  549  551  554  555  559  561  564  566  567  575  586
  593  594  598  600  604  607  613  614  616  621  624  625  631  639
  641  642  646  650  651  654  655  658  664  665  668  674  677  678
  680  685  686  687  688  692  694  695  699  700  704  709  714  718
  723  724  725  726  727  732  733  737  740  741  742  746  747  749
  753  756  759  761  765  766  767  768  769  770  771  773  775  776
  780  793  795  796  803  810  812  814  816  818  827  831  834  836
  837  839  842  845  849  850  852  855  862  867  871  872  873  875
  884  888  889  892  894  897  900  901  903  907  908  909  910  915
  923  925  926  927  928  934  943  945  949  961  965  967  969  972
  973  977  978  981  988  992  996  998 1001 1003 1004 1006 1009 1013
 1015 1019 1026 1028 1033 1035 1040 1043 1044 1049 1052 1057 1067 1072
 1075 1076 1080 1087 1093 1094 1095 1096 1100 1105 1106 1109 1111 1112
 1114 1115 1116 1121 1124 1125 1128 1134 1138 1141 1143 1144 1146 1147
 1148 1150 1152 1155 1156 1158 1161 1162 1163 1164 1168 1172 1173 1174
 1175 1179 1181 1186 1189 1198 1204 1206 1207 1212 1215 1216 1220 1224
 1225 1229 1234 1238 1243 1244 1246 1248 1250 1254 1262 1264 1266 1267
 1268 1270 1276 1284 1289 1292 1294 1306 1308 1313 1319 1320 1321 1328
 1332 1334 1335 1337 1340 1343 1345 1347 1352 1356 1358 1364 1366 1367
 1369 1370 1371 1374 1378 1380 1382 1383 1385 1386 1392 1397 1402 1409
 1412 1418 1419 1423 1424 1436 1438 1441 1442 1444 1447 1450 1453 1455
 1457 1462 1463 1466 1471 1472 1484 1485 1486 1488 1492 1496 1499 1500
 1501 1502 1514 1516 1520 1521 1526 1527 1529 1531 1534 1538 1540 1547
 1550 1552 1554 1556 1565 1566 1567 1568 1569 1574 1575 1577 1584 1585
 1586 1588 1589 1590 1592 1593 1597 1600 1601 1602 1603 1605 1615 1616
 1621 1623 1624 1628 1636 1638 1641 1644 1645 1649 1650 1651 1652 1657
 1659 1661 1662 1664 1666 1674 1676 1678 1679 1688 1689 1696 1697 1699
 1701 1703 1706 1707 1708 1717 1720 1721 1726 1727 1730 1731 1733 1741
 1745 1746 1747 1752 1753 1758 1760 1764 1769 1770 1771 1775 1778 1781
 1783 1787 1791 1796 1797 1806 1807 1815 1816 1817 1819 1821 1824 1830
 1831 1835 1836 1838 1840 1844 1845 1847 1850 1853 1856 1857 1858 1861
 1864 1865 1868 1869 1870 1874 1875 1876 1877 1883 1885 1887 1889 1890
 1896 1897 1898 1902 1906 1908 1909 1911 1913 1920 1924 1927 1928 1932
 1935 1941 1944 1947 1957 1961 1964 1965 1969 1972 1974 1980 1981 1986
 1987 1989 1992 1993 1998 1999 2000 2004 2005 2006 2010 2012 2018 2020
 2022 2024 2029 2034 2037 2043 2047 2048 2056 2057 2059 2062 2065 2067
 2072 2073 2077 2078 2083 2087 2089 2092 2093 2098 2100 2102 2106 2107
 2117 2118 2119 2121 2127 2128 2131 2136 2143 2144 2148 2149 2150 2151
 2155 2157 2164 2166 2167 2170 2171 2174 2176 2180 2181 2189 2190 2191
 2192 2193 2195 2197 2198 2200 2203 2208 2211 2215 2220 2223 2224 2228
 2229 2233 2234 2235]
TRAIN: [   0    2    3 ... 2234 2235 2238] TEST: [   1    8   11   13   16   17   22   24   25   36   37   43   48   49
   53   60   65   67   70   73   75   77   81   85   89   92   94   96
   99  101  102  107  108  111  112  116  122  124  126  127  128  130
  133  136  137  139  152  156  170  172  177  184  189  190  191  192
  194  196  198  199  200  202  206  210  215  216  217  222  223  225
  228  229  232  235  237  240  241  243  245  247  249  250  254  255
  259  260  261  265  269  270  272  274  278  279  281  283  285  287
  292  296  297  300  312  313  315  318  320  328  333  334  339  340
  341  344  350  352  357  358  362  363  367  374  376  383  384  385
  387  389  390  393  395  407  409  410  413  416  417  419  427  428
  433  438  440  445  449  452  454  455  458  460  464  466  474  477
  479  482  490  495  497  499  508  512  514  516  521  524  525  527
  528  536  540  541  543  544  548  550  552  560  565  568  569  572
  574  576  577  579  581  582  588  589  590  591  599  601  602  603
  605  606  608  609  612  618  619  626  636  643  644  647  649  652
  653  657  659  661  662  667  673  676  679  689  690  691  701  702
  703  705  707  708  712  715  716  719  720  728  729  730  731  736
  738  745  751  752  754  757  760  777  784  785  787  791  798  799
  800  801  804  805  811  815  817  820  824  826  828  830  838  840
  844  846  847  848  851  853  854  856  859  870  874  876  878  880
  881  882  887  890  891  895  896  898  902  914  916  917  921  922
  931  932  933  936  939  941  942  944  948  950  954  956  957  959
  963  964  968  970  975  980  982  984  985  986  989  990  993  995
  999 1002 1005 1012 1021 1022 1024 1029 1030 1036 1037 1038 1039 1042
 1046 1048 1053 1054 1055 1056 1061 1062 1064 1065 1066 1071 1081 1082
 1090 1097 1099 1103 1104 1108 1110 1118 1119 1123 1126 1127 1129 1130
 1131 1132 1133 1137 1140 1149 1157 1159 1165 1167 1171 1176 1177 1178
 1182 1183 1184 1187 1188 1190 1192 1199 1200 1201 1202 1205 1213 1214
 1217 1221 1226 1231 1232 1235 1236 1237 1241 1242 1247 1249 1251 1252
 1253 1255 1256 1257 1258 1259 1260 1263 1265 1269 1271 1272 1274 1277
 1278 1279 1280 1281 1282 1283 1285 1286 1288 1293 1295 1296 1298 1300
 1301 1307 1309 1311 1312 1318 1322 1323 1324 1326 1331 1333 1336 1349
 1357 1359 1360 1373 1377 1379 1388 1390 1395 1398 1399 1403 1405 1407
 1408 1411 1414 1415 1416 1420 1422 1425 1426 1427 1429 1430 1431 1434
 1435 1440 1443 1448 1454 1459 1461 1465 1467 1470 1473 1475 1477 1480
 1483 1489 1490 1494 1495 1497 1498 1504 1506 1511 1512 1517 1522 1523
 1528 1530 1535 1541 1542 1543 1545 1548 1549 1551 1553 1558 1563 1572
 1581 1583 1587 1594 1596 1598 1599 1604 1606 1611 1612 1617 1619 1625
 1640 1643 1654 1655 1660 1663 1665 1668 1669 1670 1672 1673 1680 1683
 1685 1686 1692 1693 1695 1698 1700 1702 1710 1711 1714 1715 1716 1718
 1719 1722 1723 1729 1732 1738 1739 1743 1748 1749 1750 1754 1756 1757
 1759 1761 1762 1763 1765 1766 1767 1772 1773 1776 1782 1784 1786 1789
 1790 1792 1799 1801 1802 1804 1808 1809 1810 1813 1814 1818 1820 1822
 1825 1828 1832 1834 1837 1839 1841 1843 1846 1848 1849 1852 1854 1859
 1860 1862 1872 1873 1882 1884 1888 1892 1893 1894 1899 1901 1904 1912
 1914 1916 1917 1918 1921 1923 1925 1926 1930 1931 1934 1936 1943 1945
 1950 1951 1953 1955 1956 1958 1960 1967 1970 1971 1973 1977 1978 1979
 1982 1983 1985 1988 1994 1997 2001 2002 2003 2007 2008 2016 2017 2019
 2023 2026 2027 2032 2040 2042 2045 2049 2060 2061 2063 2066 2068 2070
 2075 2076 2079 2080 2081 2082 2084 2088 2090 2096 2101 2103 2111 2113
 2116 2120 2122 2129 2130 2132 2133 2134 2139 2140 2141 2142 2145 2152
 2153 2160 2162 2163 2165 2168 2169 2172 2173 2175 2177 2178 2179 2182
 2186 2187 2188 2194 2196 2207 2217 2218 2219 2222 2226 2227 2230 2231
 2232 2236 2237 2239]

In [2]:
from sklearn.utils import class_weight
import numpy as np
class_weights = class_weight.compute_class_weight('balanced',np.unique(y_train), y_train)
#model.fit(X_train, y_train, class_weight=class_weights)
class_weights

array([0.5877262 , 3.34977578])

In [3]:
#a = [0, 13, 15, 20, 13, 12]
b = [8, 10, 40, 23, 40, 80]
c = [1,2,3,4,5,6]
df = pd.DataFrame(columns=["a","b"], index = c)
#df["a"] = a
df["b"] =b

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
j = scaler.fit_transform(df[0:3])

h = scaler.transform(df[3:6])

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:353: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:354: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [5]:
h

array([[    nan, 0.46875],
       [    nan, 1.     ],
       [    nan, 2.25   ]])

In [6]:
X

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue
ID,,,,,,,,,,,,,,,,,,,,,
6862,1971,Graduation,Divorced,1730.0,0,0,2014-05-18,65,1,1,...,0,20,0,0,0,0,0,0,3,11
5376,1979,Graduation,Married,2447.0,1,0,2013-01-06,42,1,1,...,0,1,0,0,0,0,0,0,3,11
11110,1973,Graduation,Single,3502.0,1,0,2013-04-13,56,2,1,...,0,14,0,0,0,0,0,0,3,11
9931,1963,PhD,Married,4023.0,1,1,2014-06-23,29,5,0,...,0,19,0,0,0,0,0,0,3,11
10311,1969,Graduation,Married,4428.0,0,1,2013-10-05,0,16,4,...,0,1,0,0,0,0,0,0,3,11
3955,1965,Graduation,Divorced,4861.0,0,0,2014-06-22,20,2,1,...,0,14,0,0,0,0,0,0,3,11
9303,1976,Graduation,Married,5305.0,0,1,2013-07-30,12,12,4,...,0,13,0,0,0,0,0,0,3,11
5899,1950,PhD,Together,5648.0,1,1,2014-03-13,68,28,0,...,0,20,1,0,0,0,0,0,3,11
4246,1982,Master,Single,6560.0,0,0,2013-12-12,2,67,11,...,1,17,0,0,0,0,0,0,3,11
4303,1957,PhD,Together,6835.0,0,1,2012-12-08,76,107,2,...,1,20,0,0,0,0,0,0,3,11
6237,1966,PhD,Single,7144.0,0,2,2013-12-07,92,81,4,...,1,0,0,0,0,0,0,0,3,11
387,1976,Basic,Married,7500.0,0,0,2012-11-13,59,6,16,...,3,8,0,0,0,0,0,0,3,11
2139,1975,Master,Married,7500.0,1,0,2013-10-02,19,3,1,...,3,5,0,0,0,0,0,0,3,11
9909,1996,2n Cycle,Married,7500.0,0,0,2012-11-09,24,3,18,...,3,9,0,0,0,0,0,0,3,11
7297,1973,Graduation,Single,7500.0,1,0,2013-12-26,54,5,3,...,3,7,0,0,0,0,0,0,3,11
456,1986,2n Cycle,Married,7500.0,1,0,2013-02-07,96,1,11,...,3,8,0,0,0,0,0,0,3,11
4692,1976,Graduation,Married,7500.0,1,0,2012-08-01,19,7,0,...,2,9,1,0,0,0,0,0,3,11
9553,1987,Graduation,Married,7500.0,0,0,2013-01-09,94,0,2,...,3,6,0,0,0,0,0,0,3,11
10710,1979,Graduation,Married,7500.0,0,1,2012-08-29,61,5,2,...,2,8,0,0,0,0,0,0,3,11
4136,1992,Basic,Single,7500.0,1,0,2012-12-03,63,10,17,...,2,9,0,0,0,0,0,0,3,11
10641,1978,Graduation,Single,7500.0,1,1,2012-12-27,5,6,5,...,3,6,0,0,0,0,0,0,3,11
10001,1985,2n Cycle,Together,7500.0,1,0,2012-08-01,98,5,17,...,3,9,0,0,0,0,0,0,3,11
10659,1979,2n Cycle,Together,7500.0,1,0,2013-05-07,7,2,8,...,2,7,0,0,0,0,0,0,3,11
10749,1991,Graduation,Single,8028.0,0,0,2012-09-18,62,73,18,...,0,19,0,0,0,0,0,0,3,11
2980,1952,Master,Single,8820.0,1,1,2013-03-22,52,12,0,...,3,8,0,0,0,0,0,0,3,11
10395,1986,Basic,Single,8940.0,1,0,2012-08-22,25,1,45,...,3,8,0,0,0,0,0,0,3,11
451,1989,Graduation,Single,9255.0,1,0,2013-12-20,91,9,0,...,2,8,0,0,0,0,0,0,3,11
5342,1976,Basic,Divorced,9548.0,1,0,2012-08-08,31,0,1,...,3,8,0,0,0,0,0,0,3,11
7349,1973,Basic,Together,9722.0,1,0,2012-10-02,7,6,17,...,3,8,0,0,0,0,0,0,3,11
948,1971,Graduation,Single,10245.0,1,0,2013-05-15,32,4,7,...,2,5,0,0,0,0,0,0,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,1977,Graduation,Together,157146.0,0,0,2013-04-29,13,1,0,...,0,1,0,0,0,0,0,0,3,11
8475,1973,PhD,Married,157243.0,0,1,2014-03-01,98,20,2,...,0,0,0,0,0,0,0,0,3,11
5336,1971,Master,Together,157733.0,1,0,2013-06-04,37,39,1,...,1,1,0,0,0,0,0,0,3,11
1501,1982,PhD,Married,160803.0,0,0,2012-08-04,21,55,16,...,1,0,0,0,0,0,0,0,3,11
1503,1976,PhD,Together,162397.0,1,1,2013-06-03,31,85,1,...,1,1,0,0,0,0,0,0,3,11
9432,1977,Graduation,Together,666666.0,1,0,2013-06-02,23,9,14,...,3,6,0,0,0,0,0,0,3,11
1994,1983,Graduation,Married,NaN,1,0,2013-11-15,11,5,5,...,2,7,0,0,0,0,0,0,3,11
5255,1986,Graduation,Single,NaN,1,0,2013-02-20,19,5,1,...,0,1,0,0,0,0,0,0,3,11
7281,1959,PhD,Single,NaN,0,0,2013-11-05,80,81,11,...,4,2,0,0,0,0,0,0,3,11
7244,1951,Graduation,Single,NaN,2,1,2014-01-01,96,48,5,...,4,6,0,0,0,0,0,0,3,11
8557,1982,Graduation,Single,NaN,1,0,2013-06-17,57,11,3,...,3,6,0,0,0,0,0,0,3,11
10629,1973,2n Cycle,Married,NaN,1,0,2012-09-14,25,25,3,...,3,8,0,0,0,0,0,0,3,11
8996,1957,PhD,Married,NaN,2,1,2012-11-19,4,230,42,...,8,9,0,0,0,0,0,0,3,11
9235,1957,Graduation,Single,NaN,1,1,2014-05-27,45,7,0,...,2,7,0,0,0,0,0,0,3,11
5798,1973,Master,Together,NaN,0,0,2013-11-23,87,445,37,...,8,1,0,0,0,0,0,0,3,11
8268,1961,PhD,Married,NaN,0,1,2013-07-11,23,352,0,...,7,6,0,0,0,0,0,0,3,11
1295,1963,Graduation,Married,NaN,0,1,2013-08-11,96,231,65,...,7,4,0,0,0,0,0,0,3,11
2437,1989,Graduation,Married,NaN,0,0,2013-06-03,69,861,138,...,12,3,0,1,0,1,0,0,3,11
2863,1970,Graduation,Single,NaN,1,2,2013-08-23,67,738,20,...,10,7,0,1,0,1,0,0,3,11
10475,1970,Master,Together,NaN,0,1,2013-04-01,39,187,5,...,6,5,0,0,0,0,0,0,3,11
2902,1958,Graduation,Together,NaN,1,1,2012-09-03,87,19,4,...,3,5,0,0,0,0,0,0,3,11
4345,1964,2n Cycle,Single,NaN,1,1,2014-01-12,49,5,1,...,2,7,0,0,0,0,0,0,3,11
3769,1972,PhD,Together,NaN,1,0,2014-03-02,17,25,1,...,3,7,0,0,0,0,0,0,3,11
7187,1969,Master,Together,NaN,1,1,2013-05-18,52,375,42,...,4,3,0,0,0,0,0,0,3,11
1612,1981,PhD,Single,NaN,1,0,2013-05-31,82,23,0,...,3,6,0,0,0,0,0,0,3,11
5079,1971,Graduation,Married,NaN,1,1,2013-03-03,82,71,1,...,3,8,0,0,0,0,0,0,3,11
10339,1954,Master,Together,NaN,0,1,2013-06-23,83,161,0,...,4,6,0,0,0,0,0,0,3,11
3117,1955,Graduation,Single,NaN,0,1,2013-10-18,95,264,0,...,5,7,0,0,0,0,0,0,3,11
5250,1943,Master,Widow,NaN,0,0,2013-10-30,75,532,126,...,11,1,0,0,1,0,0,0,3,11
8720,1978,2n Cycle,Together,NaN,0,0,2012-08-12,53,32,2,...,1,0,0,1,0,0,0,0,3,11

In [9]:
import GA

ModuleNotFoundError: No module named 'GA'

In [19]:
X.loc[:, X.columns != "Response"].columns[np.where(t==1)]

Index(['Year_Birth', 'Education', 'Dt_Customer', 'MntWines',
       'MntSweetProducts', 'MntGoldProds', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp1',
       'AcceptedCmp2', 'Z_CostContact'],
      dtype='object')

In [17]:
X.columns[np.where(t==1)]

Index(['Year_Birth', 'Education', 'Dt_Customer', 'MntWines',
       'MntSweetProducts', 'MntGoldProds', 'NumCatalogPurchases',
       'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp1',
       'AcceptedCmp2', 'Z_CostContact'],
      dtype='object')

In [15]:
t = np.random.randint(2, size=len(X.columns))

In [ ]:
np.random.choice(a=[False, True], size=(N, N), p=[p, 1-p])