In [5]:
from sklearn.model_selection import StratifiedKFold
import pandas as pd
ds = pd.read_excel('ml_project1_data.xlsx')
#print(ds["ID"])
ds.set_index('ID', inplace=True)
y = ds["Response"]
X = ds.drop(columns=["Response"])
skf = StratifiedKFold(n_splits=3, shuffle=True)
print(skf)
skf.get_n_splits(X, y)
for train_index, test_index in skf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

StratifiedKFold(n_splits=3, random_state=None, shuffle=True)
TRAIN: [   0    1    3 ... 2236 2237 2239] TEST: [   2    5    8   15   16   17   20   21   27   28   30   33   35   38
   43   45   47   49   50   51   58   60   62   63   65   67   68   69
   71   72   73   76   78   79   81   83   88   90   96   97   99  100
  102  106  109  111  112  115  117  119  122  124  128  133  137  140
  141  148  151  152  154  155  162  163  165  170  172  179  180  183
  184  186  190  192  195  198  204  205  206  207  209  213  215  217
  219  222  223  224  226  231  235  243  250  251  252  256  264  269
  274  281  283  284  286  287  291  295  298  299  301  304  308  314
  318  321  325  327  328  333  335  336  337  338  339  342  344  345
  347  348  350  352  356  362  363  371  376  377  381  383  386  389
  394  395  397  400  402  405  409  410  413  416  419  420  432  433
  437  438  439  442  447  448  450  453  461  462  465  469  471  476
  477  481  482  483  485  486  492  496  498  503  510  512  513  514
  515  518  526  528  531  536  537  539  542  544  547  553  557  558
  559  563  564  567  569  573  574  578  580  581  585  586  588  591
  598  604  605  606  610  611  616  617  619  621  624  628  630  634
  638  640  643  653  655  656  657  658  659  667  668  669  672  673
  675  677  679  681  685  687  688  695  698  699  701  702  703  706
  712  717  722  723  734  739  740  742  743  745  749  750  752  753
  755  762  775  776  779  782  784  785  788  791  793  795  797  798
  800  801  803  806  808  813  814  819  822  825  829  833  840  843
  850  856  858  859  861  862  864  869  873  874  875  881  883  887
  889  891  894  898  900  905  913  914  916  918  919  921  922  926
  927  929  931  940  941  944  948  949  950  951  961  963  964  965
  968  974  975  976  977  978  979  983  985  989  995  996 1003 1004
 1007 1011 1018 1023 1024 1025 1032 1035 1037 1040 1046 1053 1056 1057
 1060 1061 1065 1067 1068 1069 1070 1074 1075 1078 1079 1082 1088 1090
 1098 1100 1101 1104 1105 1113 1116 1121 1133 1134 1140 1141 1143 1145
 1148 1149 1150 1151 1152 1154 1156 1157 1159 1161 1165 1167 1170 1174
 1180 1182 1184 1189 1192 1194 1199 1200 1201 1202 1211 1212 1217 1221
 1240 1242 1243 1251 1255 1256 1257 1258 1261 1265 1269 1271 1273 1274
 1288 1289 1294 1299 1302 1305 1306 1308 1310 1314 1315 1317 1322 1324
 1325 1327 1328 1329 1330 1334 1338 1340 1346 1350 1351 1353 1354 1355
 1358 1361 1363 1370 1376 1377 1379 1381 1382 1383 1385 1387 1391 1392
 1393 1400 1401 1404 1405 1406 1408 1411 1413 1414 1419 1421 1425 1428
 1429 1431 1435 1437 1438 1444 1448 1452 1453 1457 1463 1467 1468 1469
 1471 1472 1474 1476 1477 1478 1483 1485 1486 1488 1491 1501 1502 1503
 1507 1511 1516 1520 1523 1526 1529 1535 1538 1540 1544 1545 1546 1549
 1552 1561 1565 1569 1573 1575 1583 1584 1586 1588 1589 1593 1596 1598
 1600 1601 1604 1605 1606 1607 1610 1612 1613 1620 1627 1629 1630 1634
 1636 1640 1641 1643 1644 1645 1648 1650 1651 1653 1658 1659 1667 1669
 1671 1674 1678 1680 1683 1685 1687 1691 1700 1701 1704 1709 1710 1716
 1718 1721 1725 1727 1729 1731 1732 1733 1735 1736 1737 1745 1746 1750
 1756 1759 1761 1762 1765 1770 1771 1775 1776 1780 1797 1800 1801 1806
 1811 1812 1813 1814 1815 1816 1836 1837 1838 1846 1847 1848 1849 1854
 1864 1872 1873 1874 1877 1881 1886 1890 1892 1899 1902 1903 1904 1906
 1913 1914 1915 1922 1923 1926 1927 1938 1942 1943 1944 1946 1952 1955
 1957 1959 1961 1965 1966 1968 1970 1971 1973 1974 1975 1976 1978 1985
 1986 1987 1988 2000 2001 2011 2015 2016 2019 2020 2024 2025 2029 2032
 2033 2034 2035 2036 2042 2049 2054 2055 2056 2058 2059 2060 2065 2066
 2071 2074 2076 2079 2080 2081 2084 2085 2089 2093 2096 2098 2103 2105
 2106 2107 2109 2111 2117 2119 2130 2140 2148 2151 2153 2155 2156 2159
 2163 2169 2171 2175 2184 2191 2193 2204 2205 2206 2208 2210 2216 2218
 2219 2220 2229 2231 2232 2238]
TRAIN: [   0    1    2 ... 2233 2235 2238] TEST: [   4    6    9   12   18   19   22   24   31   36   39   46   52   53
   64   77   80   89   92   93   94   98  101  105  110  113  114  118
  123  125  126  131  136  143  158  160  161  164  166  167  169  171
  173  174  178  181  185  188  191  194  199  200  211  214  218  220
  228  232  233  234  236  240  242  244  245  246  247  248  253  254
  258  259  260  261  262  263  265  266  267  268  270  276  277  279
  282  288  289  293  296  302  305  306  307  315  316  317  323  330
  334  341  343  346  354  358  359  360  361  364  365  367  372  373
  378  380  384  385  387  392  393  398  412  414  415  418  421  428
  429  430  431  435  436  440  443  444  449  454  455  456  458  459
  460  468  470  478  479  484  487  488  490  491  500  502  504  506
  507  516  522  523  524  525  527  529  530  532  533  535  541  543
  545  552  554  561  562  565  566  568  570  571  576  577  579  584
  590  592  594  600  613  614  618  620  622  633  635  636  642  646
  648  650  651  652  661  662  663  664  670  671  674  676  680  683
  684  686  690  691  692  694  697  700  704  705  707  708  713  714
  715  716  718  719  721  724  725  727  728  729  730  731  732  733
  735  736  738  746  747  754  756  757  758  761  764  765  766  767
  772  777  778  787  789  794  796  804  810  812  816  818  826  828
  830  831  834  835  836  838  839  846  847  848  853  854  857  868
  870  876  877  878  879  885  886  888  890  893  896  899  911  912
  920  923  928  930  932  933  935  942  946  947  952  956  957  958
  960  966  970  971  980  981  984  987  988  990  997  999 1000 1001
 1005 1008 1010 1012 1015 1017 1019 1021 1022 1029 1030 1031 1033 1036
 1038 1043 1044 1048 1049 1050 1051 1052 1058 1059 1062 1063 1064 1066
 1072 1073 1076 1081 1083 1084 1086 1087 1089 1091 1092 1094 1095 1096
 1097 1099 1103 1106 1107 1108 1109 1110 1112 1115 1117 1120 1122 1126
 1127 1128 1131 1137 1139 1146 1158 1160 1166 1168 1171 1175 1177 1179
 1181 1183 1185 1188 1195 1197 1198 1203 1205 1207 1208 1214 1215 1216
 1218 1222 1223 1226 1235 1237 1238 1241 1244 1245 1248 1249 1252 1253
 1254 1259 1263 1264 1268 1270 1272 1277 1278 1282 1284 1285 1287 1290
 1291 1292 1293 1295 1298 1307 1309 1311 1312 1313 1316 1336 1342 1343
 1344 1347 1348 1352 1357 1359 1360 1364 1366 1367 1368 1372 1373 1378
 1384 1389 1394 1395 1396 1402 1407 1409 1412 1415 1417 1418 1423 1424
 1426 1432 1433 1441 1449 1454 1455 1460 1464 1465 1466 1473 1479 1480
 1481 1487 1489 1493 1494 1495 1499 1504 1508 1509 1513 1514 1517 1518
 1519 1521 1524 1531 1534 1536 1537 1547 1551 1553 1554 1556 1559 1562
 1564 1567 1568 1570 1574 1576 1581 1582 1597 1599 1602 1603 1608 1609
 1614 1615 1616 1618 1619 1624 1625 1631 1638 1639 1646 1647 1649 1656
 1657 1662 1664 1665 1676 1677 1681 1684 1688 1689 1692 1693 1694 1695
 1696 1697 1698 1702 1705 1706 1711 1713 1724 1728 1730 1739 1740 1741
 1744 1751 1752 1753 1754 1758 1763 1764 1768 1773 1774 1777 1781 1783
 1788 1789 1790 1791 1792 1794 1795 1798 1804 1808 1809 1810 1817 1819
 1820 1821 1822 1823 1825 1826 1827 1829 1832 1835 1839 1842 1844 1845
 1853 1857 1858 1860 1861 1862 1865 1868 1870 1879 1882 1885 1887 1893
 1894 1895 1898 1901 1905 1907 1910 1911 1912 1916 1919 1921 1924 1931
 1935 1936 1937 1940 1948 1950 1951 1953 1954 1960 1962 1964 1967 1969
 1979 1981 1984 1989 1991 1995 1999 2004 2005 2006 2010 2012 2018 2021
 2027 2028 2030 2031 2039 2041 2043 2047 2048 2051 2057 2061 2062 2063
 2064 2067 2070 2075 2078 2082 2086 2087 2088 2091 2097 2099 2101 2102
 2104 2110 2113 2115 2118 2121 2123 2124 2129 2142 2144 2145 2146 2147
 2160 2161 2165 2166 2170 2172 2180 2182 2187 2192 2194 2195 2197 2198
 2199 2200 2201 2202 2203 2207 2209 2211 2215 2221 2222 2223 2226 2230
 2234 2236 2237 2239]
TRAIN: [   2    4    5 ... 2237 2238 2239] TEST: [   0    1    3    7   10   11   13   14   23   25   26   29   32   34
   37   40   41   42   44   48   54   55   56   57   59   61   66   70
   74   75   82   84   85   86   87   91   95  103  104  107  108  116
  120  121  127  129  130  132  134  135  138  139  142  144  145  146
  147  149  150  153  156  157  159  168  175  176  177  182  187  189
  193  196  197  201  202  203  208  210  212  216  221  225  227  229
  230  237  238  239  241  249  255  257  271  272  273  275  278  280
  285  290  292  294  297  300  303  309  310  311  312  313  319  320
  322  324  326  329  331  332  340  349  351  353  355  357  366  368
  369  370  374  375  379  382  388  390  391  396  399  401  403  404
  406  407  408  411  417  422  423  424  425  426  427  434  441  445
  446  451  452  457  463  464  466  467  472  473  474  475  480  489
  493  494  495  497  499  501  505  508  509  511  517  519  520  521
  534  538  540  546  548  549  550  551  555  556  560  572  575  582
  583  587  589  593  595  596  597  599  601  602  603  607  608  609
  612  615  623  625  626  627  629  631  632  637  639  641  644  645
  647  649  654  660  665  666  678  682  689  693  696  709  710  711
  720  726  737  741  744  748  751  759  760  763  768  769  770  771
  773  774  780  781  783  786  790  792  799  802  805  807  809  811
  815  817  820  821  823  824  827  832  837  841  842  844  845  849
  851  852  855  860  863  865  866  867  871  872  880  882  884  892
  895  897  901  902  903  904  906  907  908  909  910  915  917  924
  925  934  936  937  938  939  943  945  953  954  955  959  962  967
  969  972  973  982  986  991  992  993  994  998 1002 1006 1009 1013
 1014 1016 1020 1026 1027 1028 1034 1039 1041 1042 1045 1047 1054 1055
 1071 1077 1080 1085 1093 1102 1111 1114 1118 1119 1123 1124 1125 1129
 1130 1132 1135 1136 1138 1142 1144 1147 1153 1155 1162 1163 1164 1169
 1172 1173 1176 1178 1186 1187 1190 1191 1193 1196 1204 1206 1209 1210
 1213 1219 1220 1224 1225 1227 1228 1229 1230 1231 1232 1233 1234 1236
 1239 1246 1247 1250 1260 1262 1266 1267 1275 1276 1279 1280 1281 1283
 1286 1296 1297 1300 1301 1303 1304 1318 1319 1320 1321 1323 1326 1331
 1332 1333 1335 1337 1339 1341 1345 1349 1356 1362 1365 1369 1371 1374
 1375 1380 1386 1388 1390 1397 1398 1399 1403 1410 1416 1420 1422 1427
 1430 1434 1436 1439 1440 1442 1443 1445 1446 1447 1450 1451 1456 1458
 1459 1461 1462 1470 1475 1482 1484 1490 1492 1496 1497 1498 1500 1505
 1506 1510 1512 1515 1522 1525 1527 1528 1530 1532 1533 1539 1541 1542
 1543 1548 1550 1555 1557 1558 1560 1563 1566 1571 1572 1577 1578 1579
 1580 1585 1587 1590 1591 1592 1594 1595 1611 1617 1621 1622 1623 1626
 1628 1632 1633 1635 1637 1642 1652 1654 1655 1660 1661 1663 1666 1668
 1670 1672 1673 1675 1679 1682 1686 1690 1699 1703 1707 1708 1712 1714
 1715 1717 1719 1720 1722 1723 1726 1734 1738 1742 1743 1747 1748 1749
 1755 1757 1760 1766 1767 1769 1772 1778 1779 1782 1784 1785 1786 1787
 1793 1796 1799 1802 1803 1805 1807 1818 1824 1828 1830 1831 1833 1834
 1840 1841 1843 1850 1851 1852 1855 1856 1859 1863 1866 1867 1869 1871
 1875 1876 1878 1880 1883 1884 1888 1889 1891 1896 1897 1900 1908 1909
 1917 1918 1920 1925 1928 1929 1930 1932 1933 1934 1939 1941 1945 1947
 1949 1956 1958 1963 1972 1977 1980 1982 1983 1990 1992 1993 1994 1996
 1997 1998 2002 2003 2007 2008 2009 2013 2014 2017 2022 2023 2026 2037
 2038 2040 2044 2045 2046 2050 2052 2053 2068 2069 2072 2073 2077 2083
 2090 2092 2094 2095 2100 2108 2112 2114 2116 2120 2122 2125 2126 2127
 2128 2131 2132 2133 2134 2135 2136 2137 2138 2139 2141 2143 2149 2150
 2152 2154 2157 2158 2162 2164 2167 2168 2173 2174 2176 2177 2178 2179
 2181 2183 2185 2186 2188 2189 2190 2196 2212 2213 2214 2217 2224 2225
 2227 2228 2233 2235]

In [20]:
from sklearn.utils import class_weight
import numpy as np
class_weights = class_weight.compute_class_weight('balanced',np.unique(y_train), y_train)
#model.fit(X_train, y_train, class_weight=class_weights)
class_weights

array([0.58761805, 3.35329341])

In [75]:
#a = [0, 13, 15, 20, 13, 12]
b = [8, 10, 40, 23, 40, 80]
c = [1,2,3,4,5,6]
df = pd.DataFrame(columns=["a","b"], index = c)
#df["a"] = a
df["b"] =b

In [81]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
j = scaler.fit_transform(df[0:3])

h = scaler.transform(df[3:6])

C:\Users\Filipa\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\Filipa\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:353: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
C:\Users\Filipa\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:354: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [82]:
h

array([[    nan, 0.46875],
       [    nan, 1.     ],
       [    nan, 2.25   ]])

In [8]:
ds

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
ID,,,,,,,,,,,,,,,,,,,,,
6862,1971,Graduation,Divorced,1730.0,0,0,2014-05-18,65,1,1,...,20,0,0,0,0,0,0,3,11,0
5376,1979,Graduation,Married,2447.0,1,0,2013-01-06,42,1,1,...,1,0,0,0,0,0,0,3,11,0
11110,1973,Graduation,Single,3502.0,1,0,2013-04-13,56,2,1,...,14,0,0,0,0,0,0,3,11,0
9931,1963,PhD,Married,4023.0,1,1,2014-06-23,29,5,0,...,19,0,0,0,0,0,0,3,11,0
10311,1969,Graduation,Married,4428.0,0,1,2013-10-05,0,16,4,...,1,0,0,0,0,0,0,3,11,0
3955,1965,Graduation,Divorced,4861.0,0,0,2014-06-22,20,2,1,...,14,0,0,0,0,0,0,3,11,0
9303,1976,Graduation,Married,5305.0,0,1,2013-07-30,12,12,4,...,13,0,0,0,0,0,0,3,11,0
5899,1950,PhD,Together,5648.0,1,1,2014-03-13,68,28,0,...,20,1,0,0,0,0,0,3,11,0
4246,1982,Master,Single,6560.0,0,0,2013-12-12,2,67,11,...,17,0,0,0,0,0,0,3,11,0
4303,1957,PhD,Together,6835.0,0,1,2012-12-08,76,107,2,...,20,0,0,0,0,0,0,3,11,0
6237,1966,PhD,Single,7144.0,0,2,2013-12-07,92,81,4,...,0,0,0,0,0,0,0,3,11,0
387,1976,Basic,Married,7500.0,0,0,2012-11-13,59,6,16,...,8,0,0,0,0,0,0,3,11,0
2139,1975,Master,Married,7500.0,1,0,2013-10-02,19,3,1,...,5,0,0,0,0,0,0,3,11,0
9909,1996,2n Cycle,Married,7500.0,0,0,2012-11-09,24,3,18,...,9,0,0,0,0,0,0,3,11,1
7297,1973,Graduation,Single,7500.0,1,0,2013-12-26,54,5,3,...,7,0,0,0,0,0,0,3,11,0
456,1986,2n Cycle,Married,7500.0,1,0,2013-02-07,96,1,11,...,8,0,0,0,0,0,0,3,11,0
4692,1976,Graduation,Married,7500.0,1,0,2012-08-01,19,7,0,...,9,1,0,0,0,0,0,3,11,1
9553,1987,Graduation,Married,7500.0,0,0,2013-01-09,94,0,2,...,6,0,0,0,0,0,0,3,11,0
10710,1979,Graduation,Married,7500.0,0,1,2012-08-29,61,5,2,...,8,0,0,0,0,0,0,3,11,0
4136,1992,Basic,Single,7500.0,1,0,2012-12-03,63,10,17,...,9,0,0,0,0,0,0,3,11,0
10641,1978,Graduation,Single,7500.0,1,1,2012-12-27,5,6,5,...,6,0,0,0,0,0,0,3,11,0
10001,1985,2n Cycle,Together,7500.0,1,0,2012-08-01,98,5,17,...,9,0,0,0,0,0,0,3,11,0
10659,1979,2n Cycle,Together,7500.0,1,0,2013-05-07,7,2,8,...,7,0,0,0,0,0,0,3,11,0
10749,1991,Graduation,Single,8028.0,0,0,2012-09-18,62,73,18,...,19,0,0,0,0,0,0,3,11,0
2980,1952,Master,Single,8820.0,1,1,2013-03-22,52,12,0,...,8,0,0,0,0,0,0,3,11,0
10395,1986,Basic,Single,8940.0,1,0,2012-08-22,25,1,45,...,8,0,0,0,0,0,0,3,11,0
451,1989,Graduation,Single,9255.0,1,0,2013-12-20,91,9,0,...,8,0,0,0,0,0,0,3,11,0
5342,1976,Basic,Divorced,9548.0,1,0,2012-08-08,31,0,1,...,8,0,0,0,0,0,0,3,11,0
7349,1973,Basic,Together,9722.0,1,0,2012-10-02,7,6,17,...,8,0,0,0,0,0,0,3,11,1
948,1971,Graduation,Single,10245.0,1,0,2013-05-15,32,4,7,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,1977,Graduation,Together,157146.0,0,0,2013-04-29,13,1,0,...,1,0,0,0,0,0,0,3,11,0
8475,1973,PhD,Married,157243.0,0,1,2014-03-01,98,20,2,...,0,0,0,0,0,0,0,3,11,0
5336,1971,Master,Together,157733.0,1,0,2013-06-04,37,39,1,...,1,0,0,0,0,0,0,3,11,0
1501,1982,PhD,Married,160803.0,0,0,2012-08-04,21,55,16,...,0,0,0,0,0,0,0,3,11,0
1503,1976,PhD,Together,162397.0,1,1,2013-06-03,31,85,1,...,1,0,0,0,0,0,0,3,11,0
9432,1977,Graduation,Together,666666.0,1,0,2013-06-02,23,9,14,...,6,0,0,0,0,0,0,3,11,0
1994,1983,Graduation,Married,NaN,1,0,2013-11-15,11,5,5,...,7,0,0,0,0,0,0,3,11,0
5255,1986,Graduation,Single,NaN,1,0,2013-02-20,19,5,1,...,1,0,0,0,0,0,0,3,11,0
7281,1959,PhD,Single,NaN,0,0,2013-11-05,80,81,11,...,2,0,0,0,0,0,0,3,11,0
7244,1951,Graduation,Single,NaN,2,1,2014-01-01,96,48,5,...,6,0,0,0,0,0,0,3,11,0
8557,1982,Graduation,Single,NaN,1,0,2013-06-17,57,11,3,...,6,0,0,0,0,0,0,3,11,0
10629,1973,2n Cycle,Married,NaN,1,0,2012-09-14,25,25,3,...,8,0,0,0,0,0,0,3,11,0
8996,1957,PhD,Married,NaN,2,1,2012-11-19,4,230,42,...,9,0,0,0,0,0,0,3,11,0
9235,1957,Graduation,Single,NaN,1,1,2014-05-27,45,7,0,...,7,0,0,0,0,0,0,3,11,0
5798,1973,Master,Together,NaN,0,0,2013-11-23,87,445,37,...,1,0,0,0,0,0,0,3,11,0
8268,1961,PhD,Married,NaN,0,1,2013-07-11,23,352,0,...,6,0,0,0,0,0,0,3,11,0
1295,1963,Graduation,Married,NaN,0,1,2013-08-11,96,231,65,...,4,0,0,0,0,0,0,3,11,0
2437,1989,Graduation,Married,NaN,0,0,2013-06-03,69,861,138,...,3,0,1,0,1,0,0,3,11,0
2863,1970,Graduation,Single,NaN,1,2,2013-08-23,67,738,20,...,7,0,1,0,1,0,0,3,11,0
10475,1970,Master,Together,NaN,0,1,2013-04-01,39,187,5,...,5,0,0,0,0,0,0,3,11,0
2902,1958,Graduation,Together,NaN,1,1,2012-09-03,87,19,4,...,5,0,0,0,0,0,0,3,11,0
4345,1964,2n Cycle,Single,NaN,1,1,2014-01-12,49,5,1,...,7,0,0,0,0,0,0,3,11,0
3769,1972,PhD,Together,NaN,1,0,2014-03-02,17,25,1,...,7,0,0,0,0,0,0,3,11,0
7187,1969,Master,Together,NaN,1,1,2013-05-18,52,375,42,...,3,0,0,0,0,0,0,3,11,0
1612,1981,PhD,Single,NaN,1,0,2013-05-31,82,23,0,...,6,0,0,0,0,0,0,3,11,0
5079,1971,Graduation,Married,NaN,1,1,2013-03-03,82,71,1,...,8,0,0,0,0,0,0,3,11,0
10339,1954,Master,Together,NaN,0,1,2013-06-23,83,161,0,...,6,0,0,0,0,0,0,3,11,0
3117,1955,Graduation,Single,NaN,0,1,2013-10-18,95,264,0,...,7,0,0,0,0,0,0,3,11,0
5250,1943,Master,Widow,NaN,0,0,2013-10-30,75,532,126,...,1,0,0,1,0,0,0,3,11,1
8720,1978,2n Cycle,Together,NaN,0,0,2012-08-12,53,32,2,...,0,0,1,0,0,0,0,3,11,0

In [10]:
from collections import Counter
from numpy.random import RandomState
from imblearn.over_sampling import SMOTENC
print('Original dataset shape (%s, %s)' % X.shape)
print('Original dataset samples per class {}'.format(Counter(y)))

# simulate the 2 last columns to be categorical features
sm = SMOTENC(random_state=42, categorical_features=[1, 2,6])
X_res, y_res = sm.fit_resample(X, y)
print('Resampled dataset samples per class {}'.format(Counter(y_res)))

Original dataset shape (2240, 27)
Original dataset samples per class Counter({0: 1906, 1: 334})

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').